<div class="pagination">
	{if !$paginator->isFirst()}
		<a n:href="change, 1">První</a>
		&nbsp;|&nbsp;
		<a n:href="change, $paginator->page-1">Předchozí</a>
		&nbsp;|&nbsp;
	{/if}

	Stránka {$paginator->getPage()} z {$paginator->getPageCount()}

	{if !$paginator->isLast()}
		&nbsp;|&nbsp;
		<a n:href="change, $paginator->getPage() + 1">Další</a>
		&nbsp;|&nbsp;
		<a n:href="change, $paginator->getPageCount()">Poslední</a>
	{/if}
</div>
