<div>cislo 5 zije</div>

{block content}

<table class="table table-hover">
    <tr>
        <th>Jméno produktu</th>
        <th>cena</th>
        <th>počet kusů<th>
    </tr>
    {foreach $objednavka->cartItems as $cartItem}

        <tr>
            <td>{$cartItem->product->title}</td>
            <td>{$cartItem->product->price}</td>
            <td>{$cartItem->count}</td>
        </tr>

    {/foreach}

</table>