{block content}



<h1>Vaše objednávky</h1>
<table class="table table-hover">
    <tr>
        <th>Číslo objednávky</th>
        <th>Stav objednávky</th>
        <th>Celková cena</th>
        <th>Akce</th>
    </tr>
    {var $pocetmychobjednavek = 0}
    {foreach $objednavka as $objednavka}
        {if $user->identity->id == $objednavka->user->userId}
            <tr>
                <td>{$objednavka->objednavkaId}</td>
                <td>{$objednavka->stav}</td>
                <td>{$objednavka->cena} Kč</td>
                <td>
                    <a href="{plink detail $objednavka->objednavkaId}" class="btn btn-sm btn-outline-danger" >Zobrazit podrobnosti</a>
                </td>
            </tr>
            {var $pocetmychobjednavek = $pocetmychobjednavek + 1}
        {/if}
    {/foreach}
</table>
{if $pocetmychobjednavek == 0}<br><h4>Zatím jste si u nás nic neobjednal. Pojďme to změnit!</h4>{/if}
