{block content}

<div style="width: 75%; margin-left: auto; margin-right: auto;">
	<div class="container">
		<div class="row">
			<h1 n:block="title" class="pb-4">Seznam všech Permissions</h1>
			<div class="col-9">
			</div>
			<div class="col-3">
				<a href="{link Resources:edit}" class="btn btn-success float-end" style="margin-bottom: 5px;">+</a>
			</div>
		</div>
		{control resourcesGrid}
	</div>
</div>


