{varType App\Model\Entities\Product[] $products}
{varType Nette\Utils\Paginator $paginator}
{block content}

<style>

.container1{
    display:flex;
    flex-direction: row;
    }


</style>


<h1 n:block="title">Nabízené produkty</h1>


<div class="container1">

<form n:name=filterForm>
    <table>
       		<tr n:foreach="$form->controls as $input"
    			n:if="!$input->getOption(rendered) && $input->getOption(type) !== hidden"
    			n:class="$input->required ? required">

    			<th>{label $input /}</th>
    			<td>{input $input} <span class=error n:ifcontent>{$input->error}</span></td>
    		</tr>
    	</table>

</form>


        <div class="container">
            <div class="row">
            {foreach $products as $product}
                {if $product->available == 1}
                <a href="{plink Product:show url=>$product->url, page=>1}" class="h4">
                <div class="m-3">
                    <div class="card text-center" style="width: 15.1rem; height: 30rem;">
                        <img src="{$basePath}/img/products/{$product->productId}.{$product->photoExtension}" class="card-img-top" style="height: 220px;"">
                        <div class="card-body">
                            <h4>{$product->title}</h4>
                            <p class="item-price">{$product->price}Kč</p>

                            </div>
                            </a>
                            {control "productCartForm-$product->productId"}
                    </div>
                </div>

                {/if}
            {/foreach}
            </div>
        </div>

{foreach $selectedCategories as $category}

{/foreach}
</section>
</div>

{if $paginator->pageCount>1}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-2">
                {for $i=1;$i<=$paginator->pageCount;$i++}
                    <li class="page-item {if $paginator->page == $i}active{/if}">
                        <a class="page-link" href="{plink this page=>$i}">{$i}</a>
                    </li>
                {/for}
                </ul>
            </nav>
{/if}
