parameters:

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

services:
	- App\Router\RouterFactory::createRouter

	- LeanMapper\Connection(%database%)
	- Vojir\LeanMapper\Mappers\CamelcaseUnderdashMapper('App\Model\Entities')
	- LeanMapper\DefaultEntityFactory

	- App\Model\Authenticator\Authenticator
	- App\Model\Authorization\Authorizator

	- App\Model\Api\Facebook\FacebookApi(%facebook.appId%, %facebook.secret%)

	forgottenPasswordFormFactory:
	    implement: App\FrontModule\Components\ForgottenPasswordForm\ForgottenPasswordFormFactory
	    setup:
	        - setMailFrom(%mailFrom.email%,%mailFrom.name%)


includes:
	- ui.neon
	- model.neon
