parameters:
    mailFrom:
        email: 'mict11@vse.cz'
        name: 'xname eshop'

    database:
        driver: mysqli
        host: localhost
        username: mict11
        password: aeTh4ahY9aquingi4d 
        database: mict11
        charset: utf8mb4

    facebook:
        appId: 'TODO'
        secret: 'TODO'

php:
	date.timezone: Europe/Prague
	error_reporting: E_ALL &~E_USER_WARNING
