services:
	- App\Model\Facades\CategoriesFacade
	- App\Model\Facades\ProductsFacade
	- App\Model\Facades\UsersFacade
	- App\Model\Facades\CartFacade
	- App\Model\Facades\RoleFacade
	- App\Model\Facades\PermissionsFacade
	- App\Model\Facades\ResourcesFacade
	- App\Model\Facades\CommentsFacade

	- App\Model\Repositories\CategoryRepository
	- App\Model\Repositories\ForgottenPasswordRepository
	- App\Model\Repositories\PermissionRepository
	- App\Model\Repositories\ProductRepository
	- App\Model\Repositories\ResourceRepository
	- App\Model\Repositories\RoleRepository
	- App\Model\Repositories\UserRepository
	- App\Model\Repositories\CartRepository
	- App\Model\Repositories\CartItemRepository
	- App\Model\Repositories\CommentsRepository


