services:
	- App\AdminModule\Components\ProductGrid\ProductsGridFactory
	- App\AdminModule\Components\CategoryEditForm\CategoryEditFormFactory
	- App\AdminModule\Components\ProductEditForm\ProductEditFormFactory
	- App\AdminModule\Components\ProductEditForm\ProductAddFormFactory
	- App\AdminModule\Components\Sidebar\SidebarFactory
	- App\AdminModule\Components\UserEditForm\UserEditFormFactory
	- App\AdminModule\Components\PermissionGrid\PermissionGridFactory
	- App\AdminModule\Components\PermissionEditForm\PermissionEditFormFactory
	- App\AdminModule\Components\ResourceEditForm\ResourceEditFormFactory
	- App\AdminModule\Components\ResourceGrid\ResourceGridFactory
	- App\AdminModule\Components\CategoryGrid\CategoryGridFactory
	- App\AdminModule\Components\ProductPhotoForm\ProductPhotoFormFactory

	- App\FrontModule\Components\UserLoginForm\UserLoginFormFactory
	- App\FrontModule\Components\UserRegistrationForm\UserRegistrationFormFactory
	- App\FrontModule\Components\NewPasswordForm\NewPasswordFormFactory
	- App\FrontModule\Components\ProductCartForm\ProductCartFormFactory
	- App\FrontModule\Components\CartControl\CartControlFactory
	- App\FrontModule\Components\UserLoginControl\UserLoginControlFactory
