<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
	<a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<i class="fa-thin fa-coin"></i>
		<span class="fs-4">E-shop Admin</span>
	</a>
<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		{foreach $sidebar as $name => $item}
			{if isset($item['subMenu'])}
			<li class="mb-1">
				<a class="nav-link btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
					<i class="{$item['icon']}" style="margin-right: 15px;"></i>
					{$name}
				</a>
				<div class="collapse show" id="home-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						{foreach $item['subMenu'] as $name => $item}
							<a n:class="$presenter->isLinkCurrent($item['presenter']) ? active, nav-link, text-white" href="{plink $item['link']}">
								<i class="{$item['icon']}" style="margin-right: 15px; padding-left: 15px;"></i>
								{$name}
							</a>
						{/foreach}
					</ul>
				</div>
			</li>
			{else}
			<li>
				<a n:class="$presenter->isLinkCurrent($item['presenter']) ? active, nav-link, text-white" href="{plink $item['link']}">
					<i class="{$item['icon']}" style="margin-right: 15px;"></i>
					{$name}
				</a>
			</li>
			{/if}
		{/foreach}
	</ul>
<hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<strong class="px-4">{$user->identity->name}</strong>
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<a class="dropdown-item" href="{plink :Front:User:logout}">Odhlásit se</a>
		</ul>
	</div>
</div>
