{block content}
ADMIN ROZCESTNÍK
<br>
<a href="{plink Product:add}">přidej produkt</a><br>
<a href="{plink Product:default}">všechny produkty</a><br>
<br>
<a href="{plink Category:add}">přidej kategorii</a><br>
<a href="{plink Category:default}">všechny kategorie</a><br>
<br>
<a href="{plink Comments:default}">prohlížení komentářů uživatelů</a>
<br>
<a href="{plink Users:default}">prohlížení uživatelů</a>
<br>
<a href="{plink Objednavka:list}">prohlížení objednávek</a>