{block content}

<div style="width: 75%; margin-left: auto; margin-right: auto;">
	<div class="container">
		<div class="row">
			<h1 n:block="title">Správa kategorií</h1>
		</div>
		<div class="row">
			<div class="col-9"></div>
			<div class="col-3">
				<a href="{link edit}" class="btn btn-success float-end" style="margin-bottom: 5px;">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</div>
		</div>

		{control categoriesGrid}
	</div>
</div>
